<div class="form task-form">
  <header>
    <h2> {{ title | uppercase }} </h2>
  </header>
  <div>
    <label for="task-name">Task name:</label>
    <br>
    <input id="task-name" type="text" #taskName [(ngModel)] = "newTask.title"/>
    <br>
    <label for="task-description" > Description: </label>
    <br>
    <input id="task-description" type="text" #taskDescription [(ngModel)] = "newTask.description"/>
    <br>
    <label for="task-estimate">Estimate:</label>
    <br>
    <input id="task-estimate" type="number" #taskEstimate [(ngModel)] = "newTask.estimate"/>
    <br>
    <input
      value="Submit"
      type="button"
      (click)="onSubmit();
        taskName.value =''; taskDescription.value = ''; taskEstimate.value = '' "
      />

</div>
</div>
