<header>
  <h2>{{ title | uppercase }} </h2>
</header>

<ul class="projects">
  <li *ngFor="let project of projects">
      <div class="list project-list">
        <span>{{ project.name }}</span>
        <a routerLink = "/projects/{{ project.id }}">
          <button class="details" [id]="project.id" [project] = "selectedProject" > Show Details</button>
        </a>
      </div>
  </li>
  <app-project-form (addedProjectEvent) = "getProjects()" [projects] = "projects" ></app-project-form>
</ul>


