<div class="project-detail" *ngIf="project">
  <header>
      <h1> {{ project.name |uppercase }} </h1>
  </header>
  <div class="list project-detail-list">
    <h3> ID: {{ project.id  }} </h3>
    <h3> Date: {{ project.date }} </h3>
  </div>
  <app-tasks [tasks] = "project.tasks"></app-tasks>
  <div class="form ">
    <input
      type="button"
      class="show"
      [class.close] = "isShowingUpdateForm === true"
      value = "Update project name"
      #updateButton
      (click) = "showUpdateForm();
      isShowingUpdateForm? updateButton.value = 'x': updateButton.value = 'Update project name'"
      />
    <div *ngIf="isShowingUpdateForm" class="form update-project-form">
      <header>
        <h2>UPDATE PROJECT </h2>
      </header>
      <div>
        <label for="project-name"></label>
        <input type="text" placeholder="name" id="project-name" [(ngModel)]= "selectedProject.name" />
        <input type="button" value="Save" (click) = "save()"/>
      </div>
    </div>
    <input
      type="button"
      class="show"
      [class.close] = "isShowingAddForm === true"
      value = "Add new task"
      #addButton
      (click) = "showAddForm(); isShowingAddForm? addButton.value = 'x': addButton.value = 'Add new task'"
      />
    <app-task-form *ngIf = "isShowingAddForm" (addedTaskEvent) = "addTask($event)"  [project] = "project" ></app-task-form>
  </div>
</div>

<button class="back-button" (click) = "goBack()">go back</button>

