<div class="project-detail" *ngIf="project">
  <header>
      <h1> {{ project.name |uppercase }} </h1>
  </header>
  <div class="list project-detail-list">
    <h3> ID: {{ project.id  }} </h3>
    <h3> Date: {{ project.date }} </h3>
  </div>
  <app-tasks [tasks] = "project.tasks"></app-tasks>
  <div class="form update-project-form">
    <header>
      <h2>UPDATE PROJECT </h2>
    </header>
    <div>
      <label for="project-name"></label>
      <input type="text" placeholder="name" id="project-name" [(ngModel)]= "selectedProject.name" />
      <input type="button" value="Save" (click) = "save()"/>
    </div>
  </div>
  <app-task-form (addedTaskEvent) = "addTask($event)"  [project] = "project" ></app-task-form>
</div>

<button class="back-button" (click) = "goBack()">go back</button>

