.message{
  color: #06a590;
  z-index: -1;
  padding: 5px;
  margin-top: 100px;
  border: 1px solid #06a590;
  border-radius:5px;
  -webkit-border-radius:5px;
  -moz-border-radius:5px;
  -ms-border-radius:5px;
  -o-border-radius:5px;
}
.message button{
  background-color: #06a590;
  color: #fff ;
  margin-left: 15px;
  padding: 10px 15px;
  float: right;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.message button:hover{
  background-color:#84ddd1;
  color:#000;
}
