/* You can add global styles to this file, and also import other style files */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  padding: 20px 40px;
}
header{
  text-align: center;
  padding: 10px;
}
h1{
  font-size: 1.5em;
  color: #369;
}
h2{
  font-size: 1.2em;
  color: #399;
}
h3{
  font-size: 1em;
  color: #369;
}
p{
  font-size: 0.87em;
  color:#369;
}

button{
  padding:7px 15px;
  border-radius:5px;
  border: none;
  cursor: pointer;
}
.list{
  width: 35%;
  display: flex;
  align-items: center;
  justify-content:space-between;
  margin: auto;
}
.form{
  width: 250px;
  margin: 10px auto;
}
.form label{
  color: #369;
}
input{
  width: 100%;
  padding: 7px;
  margin: 5px 10px 5px 0px;
  border: none;
  outline: none;
}
.form input[type="button"]{
  padding: 8px;
  border-radius:5px;
  margin-top: 20px;
  cursor: pointer;
}
@media screen and (max-width:768px){
  .list{
    width: 100%;
  }
}
