/* You can add global styles to this file, and also import other style files */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  padding: 20px 40px;
}
header{
  text-align: center;
  padding: 10px;
}
h1{
  font-size: 1.5em;
  color: #369;
}
h2{
  font-size: 1.2em;
  color: #399;
}
h3{
  font-size: 1em
}
p{
  font-size: 0.87em;
}

button{
  padding:7px 15px;
  border-radius:5px;
  border: none;
  cursor: pointer;
}
